<div class="max-w-2xl mx-auto">
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <div class="flex justify-between items-center">
        <h2 class="card-title">사용자 추가</h2>
        <a href={~p"/admin/users"} class="btn btn-ghost btn-sm">
          <i class="material-icons">arrow_back</i>
          목록으로
        </a>
      </div>
      <div class="divider mt-0"></div>
      <.simple_form :let={f} for={@changeset} action={~p"/admin/users"}>
        <.input field={f[:name]} type="text" label="이름" required />
        <.input field={f[:email]} type="email" label="이메일" required />
        <.input field={f[:role]} type="select" label="역할" options={[{"일반", "user"}, {"관리자", "admin"}]} required />
        <.input field={f[:address]} type="text" label="주소" required />
        <.input field={f[:auth_user_id]} type="number" label="인증 사용자 ID" />
        <:actions>
          <.button>사용자 생성</.button>
        </:actions>
      </.simple_form>
    </div>
  </div>
</div>
